/* import Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Lora);

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --font-family-headings: 'Open Sans', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  --heading-height: 122px;
}

html {
  font-size: 17px;
  color: rgba(var(--color-foreground-2), 1);
  background-color: rgba(var(--color-background-2), 1);
  font-family: var(--font-family-body);
  line-height: 1.3;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* links */
a {
  color: rgba(var(--color-foreground-1), 1);
  text-decoration: none;
}

a:hover {
  color: rgba(var(--color-foreground-4), 1);
}

/* Define the heading sizes */
h1, h2, h3 {
  font-family: var(--font-family-headings);
  margin: 0;
}

.heading h1 {
  font-size: 36pt;
  margin: 28px 2px -4px 2px;
}

h2 {
  font-size: 1.15em;
}

h3 {
  font-size: 1em;
}

/* Layout */
.page {
  display: flex;
  position: relative;
}

.left-rail {
  background-color: rgba(var(--color-background-4), 1);
  min-width: 200px;
  position: relative;
  font-size: 0.85rem;
  max-width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}

.main {
  min-width: 400px;
  max-width: 1200px;
  flex-grow: 1;
  margin-left: 40px;
}

/* Heading */
.profile {
  text-align: center;
  height: var(--heading-height);
  margin: 40px 20px;
}

.profile-photo {
  border-radius: 50%;
  margin: 0 25px 0 0;
  height: 120px;
  width: 120px;
  max-width: 100%;
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: var(--heading-height);
  margin: 40px 20px;
}

.heading h2 {
  font-weight: normal;
  font-size: 1.4em;
}

h2::after {
  display: inline-block;
  content: "";
  border-bottom: .2rem solid rgba(var(--color-foreground-2), 1);
  width: 100%;
  transform: translateY(-0.2em);
}

.heading h2::after {
  border: none;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.fas, .fab, .far {
  padding-right: 0.85em;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 6px 0;
}

.icon {
  font-size: 1.5em;
  vertical-align: text-bottom;
  width: 40px;
}

.certification img {
  height: 80px;
  width: 80px;
}

.cert-info {
  display: flex;
  flex-direction: column;
}

.certification {
  display: flex;
  padding: 6px 0;
  margin-left: -14px;
}

.skill-category {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

.skill-category h3 {
  margin: 0.5em 0;
  letter-spacing: normal;
  font-weight: normal;
  font-style: italic;
}

.skill {
  margin: 0 20px 2px 0px;
}

.skill-category div:first-child {
  width: 100%;
}

.job-heading {
  display: flex;
  padding: 0 4px;
}

.title {
  flex: 1 0 3.9in;
  padding: 0 4px;
}

.date {
  min-width: 80px;
  max-width: 160px;
  padding: 0 4px;
}

.date span:nth-child(2)::before {
  content: " - ";
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.job::before {
  content: "";
  position: relative;
  width: 1px;
  height: 14px;
  top: 4px;
  left: 16px;
  border-left: 2px solid rgba(var(--color-foreground-2), 1);
  z-index: -1;
}

.job::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 48px;
  bottom: -20px;
  left: 16px;
  border-left: 2px solid rgba(var(--color-foreground-2), 1);
  z-index: -1;
}

.job:last-child::after {
  border-left: none;
}

.job-history {
  position: relative;
  margin-left: calc(1em - 5px);
}

.job {
  position: relative;
  margin-top: 12px;
}

.section-heading title {
  color: lime;
  margin: 2px 3px 4px 5px;
}

.section-heading {
  display: flex;
}

.section-heading-title {
  flex-grow: 1;
  flex-shrink: 1;
}

.section-heading-title h2 {
  /* margin: 0 0 1em .25in; */
}

.company-location {
  padding: 0 50px;
  display: flex;
}

.company {
  min-width: 400px;
  flex-grow: 1;
}

.company-location .icon {
  font-size: 1em;
}

.accomplishments {
  padding: 0 30px;
}

.company-location .contact {
  width: 200px;
  text-align: right;
}

.job:last-child {
  margin-bottom: 0.5in;
}

.job:only-child {
  margin-bottom: 0;
}

.info, .certifications, .skills {
  padding: 8px 20px 20px 20px;
}
